:root{
/*
*/
--NJITBlue: #000c35;
--NJITRed: #d3001a;
--NJITGrey: #cbcbcb;
--NJITWhite: #FFF;
--dark1:#343d46;
--dark2:#4f5b66;
--med:#65737e;
--light2:#a7adba;
--light1:#c0c5ce;
--w:#DFDFDF;

--FlatBG:#000c35;
--menuBG:var(--w);
--darkMenuBG:#000c35;
	/* Notes:
	 * Button BG should match menueBG?
	 *
	 *
	 * */

--buttonA:#000c35;
--buttonBG:var(--menuBG);
}

/*cofee

:root{
--dark2:#4b3832;
--med:#854442;
--light2:#fff4e6;
--dark1:#be9b7b;
--light1:#be9b7b;
}
*/

/* Facebook
:root{
--dark1:#3b5998;
--dark2:#8b9dc3;
--med:#dfe3ee;
--light2:#f7f7f7;
--light1:#ffffff;
--white:#DFDFDF;
}
*/
/*
:root{
	--accent:#1db954;
	--dark2:#121212;
	--light2:#b3b3b3;
	--med:#A0A0A0;
	--dark1:#212121;
	--light1:#535353;
}*/

*{
	font-family: 'Varela Round', sans-serif;
	color:var(--dark1);
}
body{
  background-color:var(--darkMenuBG);
  /*background-image:url("actualnjit.jpg");
	background-size:     cover;
	background-repeat:   no-repeat;*/
}

img{
	width: 60%;
	height: 60%;
	padding-bottom:10px;
	padding-top:10px;
}

pre.padleftSmall{
	width:80%;
	background:var(--NJITGrey);
	margin-left:15px;
	padding: 5px;
	border-radius:8px;
}

textarea{
  resize: none;
	font-size:20px;
}

#login{
  margin: 0 auto;
  width: 100%;
}
button,#button{
  margin-top:35px;
  height:40px;
  background-color: var(--buttonBG);
  border: solid;
	border-width:2px !important;
	border-color: var(--buttonA);
  color: var(--buttonA);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius:15px;
  transition-duration: 0.4s;
}

button.btn:hover,#button:hover,.questionPreviewButton.up:hover {
 	background-color: var(--buttonA);
	color: var(--buttonBG);
	border-color: var(--buttonBG);
}

.questionPreviewButton.down:hover {
 	background-color: var(--buttonBG);
	color: var(--buttonA);
	border-color: var(--buttonA);
}

select[multiple]:focus option:checked {
	background: var(--NJITBlue) linear-gradient(0deg, var(--NJITBlue) 0%, var(--NJITBlue) 100%);
	color: red; 
}

select:active,select:hover{
	background-color:blue;
}
.questionPreviewButton.up{
 	background-color: var(--buttonBG);
	color: var(--buttonA);
	border-color: var(--buttonA);
}

.questionPreviewButton.down{
  background-color: var(--buttonA);
	color: var(--buttonBG);
	border-color: var(--buttonBG);
}


/* width */
::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey; 
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--dark1); 
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: var(--dark2); 
}

hr{
	background-color:var(--NJITBlue)!important;
	height:2px;
	border-width:0px;
}

textarea,input,select{
	background-color: var(--light2) !important;
	background:#f1f1f1; border-style:solid; 
}


#main{
	border: solid;
	border-width:0px;
	border-color: var(--dark2);
	background:var(--menuBG);
	color:var(--dark2);
	margin: 50px auto;
  width: 90%;
  height: 800px;/*44vw;*/
  border-radius:9px;
  display:block;
  overflow: hidden;
}

#leftpannel,.leftpannel{
  width:50%;
  height:100%;
  float:left;
}

.leftdiv{
  width:50%;
  float:left;
}

.rightdiv{
  width:50%;
  float: right;
}

.leftdivsmall{
  width:50%;
  float:left;
}

.rightdivsmall{
  width:40%;
  float:right;
	margin-right:20px;
}


#rightpannel, .rightpannel{
  width:50%;
  height:100%;
  float:right;
}

.container{
/*  border: solid;
	border-color: #564c41;*/
  text-align:center;
  padding:50px;
  padding-top:20px;
  padding-bottom:30px;
  margin: 0 auto;
  width: 20%;
  border-radius:9px;
  background-color:var(--menuBG);
  margin-top: 100px;
}

.formbox{
  overflow: hidden;
  height:50%;

}

.questiontext{
  overflow-y: scroll;
  height:200px;
  width:100%;
}

.inputtext{
  height:250px;
  width:99%;
}

.paddtop{
  margin-top: 15px;
}

.left{
  text-align:left;
}

.pannel{
  margin:2% 2%;
}

.set{
  padding:5px 0 5px 0;
  float: left;
  width: 33.3%;
  margin-bottom: 5px;
  height: 80%;
}

.title{
  text-align:center;
  padding-bottom:0px;
  margin: 0 auto;
  width: 100%;

}

.selectheading{
  margin-top: 15px;
  width: 100% !important;
  margin-bottom: 2px;
}

.select{
  padding-left:5px;
  width: 35%;
  height: 25%;
  text-size:50px;
  margin-bottom:5px;
}

input.select{
  background-color:white;
  width:90%;
	float:left;
  padding-left:auto;
  padding-right:auto;
}

form{
  margin: 0 auto;
  text-align:left;
}

label{
  margin: 0 auto;
  margin-bottom: 0px;
  display: block;
  width: 100%;
}

.labeltitle{
  margin-top: 15px;
  margin-left: 5px;
  display:block;
}

.fill{
  width: 100%;
	padding: 4px 10px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
  box-sizing: border-box;
}

#result,#result1{
	text-align:left;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
	color: white;
	padding: 7px 0px;
}

input,button{
  margin: 0 auto;
  display: block;
  width: 100%;
  line-height:35px;
	font-size:15px;
}

.ButtonContainer{
	width:50%;
	float:right;

}

.confirm{
  width:100%;
  height:10%;
  float:right;
}

.scroll{
  height:450px;
  background-color:var(--dark2);
  overflow-y: scroll;
  overflow-x:hidden;
  padding: none;
  outline: solid;
  outline-width: thin;
  outline-color: var(--dark2);
}

.scrollSmall{
  height:220px;
  overflow-y: scroll;
  overflow-x:hidden;
  padding: none;
  outline: solid;
  outline: none;
	margin-bottom:10px;
}

.scroll.review{
  height:675px;
}



.optionsrowitem{
 /* width:30%;*/
  height:100%;
  display: inline-block;
  float:left;
}

.searchcontainer{
  width:100%;
  height:25px;

}

.rowitem{
  display:box;
  float:left;
  margin-right: 5px;
}

.optionsrowitem > .select{
  height:17px;
  width: 100px;
  float:left;
	border-style:soild;
	border-width:2px;
	border-color:var(--dark2);
}

.select{
	border-style:soild;
	border-width:2px;
	border-color:var(--dark2);
}

.questionPreview{

  width:100%;
  background-color: var(--w);
  margin: none;
  outline-style: solid;
  outline-width: thin;
  outline-color: black;
  padding-bottom: 5px;
}

.questionPreviewTitle{
  margin-left: 5px;
  padding-top: 10px;
  font-size: 20px;
  width: 100%;
}

.questionPreviewText{
  margin-left: 5px;
  padding-top: 5px;
  font-size: 14px;
  width: 100%;
}

.questionPreviewDifficulty{
  font-size: 17px;
  padding-left: 0px;
  margin-right: 1px;
  width: 20%;
  float:left;
}

.questionPreviewContainer{
  height:100%;
  width:100%;
}

.questionPreviewHandler{
  width: 100%;
  height:50px;
  text-align: left;
}

.smallHeading{
  font-size:16px;
}

.smallerHeading{
	font-size:14px;
}

.flexContainer{
  display: flex;
  flex-wrap: nowrap;
  margin: 0 50px 0 50px;
}

.box{
  width:50%;
}


.ExamTitle{
  padding-left:20px;
  width:300px;
  float:left;
}

.workArea{
  width:100%;
  overflow: scroll;
  background: #EEE;
  height: 685px;
}

.questionWritten{
  padding-top:2px;
  padding-bottom:2px;
}

.questionWrittenOld{
  padding-top:2px;
  padding-bottom:20px;
}

.questionTitle{
  margin-left:20px;
}

.questionText{
  width:95%;
  padding: auto;
  margin-left:20px;
  margin-top:15px;
}

.questionHeading{
  margin-left:20px;
}

.ans{
  margin-top:20px;
  font-size: 20px;
  margin-left: 20px;
}

.ans> .comment{
  margin-top:10px;
  font-size: 14px;
  height:18px;
  width:100%;
}

.studentAns{
  margin-top:10px;
  margin-left:20px;
  border-style: solid;
  border-width: 1px;
  background: var(--light1);
  border-color: #999;
  width:900px;
}

.questionWritten > textarea{
  margin-top:10px;
  margin-left:20px;
  margin-bottom:20px;
  width:900px;
  padding: auto;
  height:200px;

}

#ExamDone{
  width:200px;
  float:right;
  margin: 20px;
}

.tittleContainer{
  width:500px;
}

.answerDisplay{
  margin-top:10px;
  margin-left:20px;
  margin-bottom:20px;
  width:100%;

}

.center{
    display: flex;
    justify-content: center;
    width: 100%;
}

.sad{
  width:200px;
  height:200px;
}

.preview{
  height:620px;
  width:100%;
}

.subTittle{
	text-align:left;
}

.case{
	width:100% !important;
	height:10px !important;
	margin-bottom:50px;
}

#testcases{
	height:220px;
}

.feedback{
	text-align:center;
	display:inline;
	float:right;
	margin-right:15px;
	/*color:#31c55a;*/
	color:#e40042;
}

.sadText{
color:var(--light1);margin-top:5px;text-align:center; width:100%;
}

.teacherText{
color:var(--dark2);margin-top:5px;text-align:center; width:100%;
}

.padleft{
	margin-top:0px !important;
	padding-left:25px;
}
.padleftSmall{
	padding-left:15px;
}

.padtop{
	padding-top:15px;
	padding-bottom:2px;
}
